<%- include ("../partials/header") %>

<div class="idance">
  <div class="schedule content-block">
    <div class="container">
      <h2 data-aos="zoom-in-up" class="aos-init aos-animate mt-2 mb-2">
        Schedules of all existing users...
      </h2>

      <div class="timetable">
        <!-- Schedule Top Navigation -->
        <nav class="nav nav-tabs">
          <a class="nav-link active">Mon</a>
          <a class="nav-link">Tue</a>
          <a class="nav-link">Wed</a>
          <a class="nav-link">Thu</a>
          <a class="nav-link">Fri</a>
          <a class="nav-link">Sat</a>
          <a class="nav-link">Sun</a>
        </nav>

        <% schedules.forEach(schedule => { %>
        <div class="tab-content">
          <div class="tab-pane show active">
            <div class="row">
              <!-- Schedule Item 1 -->
              <div class="col-md-6">
                <div class="timetable-item">
                  <div class="timetable-item-img">
                    <img
                      src="/img/full_logo_dark.png"
                      alt="Contemporary Dance"
                    />
                  </div>
                  <div class="timetable-item-main">
                    <div class="timetable-item-time">
                      <%= schedule.start_time %> - <%= schedule.end_time %>
                    </div>
                    <div class="timetable-item-name"><%= schedule.email %></div>
                    <a
                      href="/home/<%= schedule.user_id %> "
                      class="btn btn-primary btn-book"
                      >View</a
                    >
                    <div class="timetable-item-like">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <div class="timetable-item-like-count">
                        <%= schedule.user_id %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
