<%- include ("../partials/header") %>
<div class="idance">
  <div class="schedule content-block">
    <div class="container">
      <h2 data-aos="zoom-in-up" class="aos-init aos-animate mt-2 mb-2">
        Schedules of all existing users...
      </h2>

      <div class="timetable">
        <!-- Schedule Top Navigation -->
        <nav class="nav nav-tabs text-capitalize">
          <a class="nav-link active">monday</a>
          <a class="nav-link">tuesday</a>
          <a class="nav-link">wednesday</a>
          <a class="nav-link">thursday</a>
          <a class="nav-link">friday</a>
          <a class="nav-link">saturday</a>
          <a class="nav-link">sunday</a>
          <a class="nav-link">reset</a>
        </nav>

        <div class="tab-content">
          <div class="tab-pane show active">
            <div class="row">
              <!-- Schedule Item 1 -->
              <% schedules.filter(schedule => { %>
              <div class="col-md-6 schedule-cards">
                <div class="timetable-item">
                  <div class="timetable-item-img">
                    <img
                      src="/img/full_logo_dark.png"
                      alt="Contemporary Dance"
                    />
                  </div>
                  <div class="timetable-item-main">
                    <div class="timetable-item-time">
                      <%= schedule.start_time %> - <%= schedule.end_time %>
                    </div>
                    <div class="timetable-item-name text-capitalize">
                      <%= schedule.firstname %> <%= schedule.lastname %>
                    </div>
                    <div class="timetable-item-name"><%= schedule.email %></div>
                    <a
                      href="/<%= schedule.user_id %> "
                      class="btn btn-primary btn-book"
                      >View</a
                    >
                    <div class="timetable-item-like">
                      <div class="timetable-item-like-count">
                        <strong>User Id: </strong><%= schedule.user_id %>
                      </div>
                      <div
                        class="timetable-item-like-count day text-capitalize"
                      >
                        <strong><%= schedule.day %></strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
