<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
  
  <%- include('../partials/header') %>
 <!-- Display all of my schedules-->


<div class="idance">
  <div class="schedule content-block">
      <div class="container">
          <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Schedule</h2>
      
          <div class="timetable">
      
            <!-- Schedule Top Navigation -->
            <nav class="nav nav-tabs">
              <a class="nav-link active">Mon</a>
              <a class="nav-link active">Tue</a>
              <a class="nav-link active">Wed</a>
              <a class="nav-link active">Thu</a>
              <a class="nav-link active">Fri</a>
              <a class="nav-link active">Sat</a>
              <a class="nav-link active">Sun</a>
            </nav>
      
            <div class="tab-content">
              <div class="tab-pane show active">
                <div class="row">
                  <% for (let i =0; i < schedules.length; i++) { %> 
      
                  <!-- Schedule Item 1 -->
                  <div class="col-md-6">
                    <div class="timetable-item">
                      <div class="timetable-item-img">
                        <img src="/public/images/beans.jpeg" alt="Coffee beans">
                      </div>
                      <div class="timetable-item-main">
                        <div class="timetable-item-time">Name<%= schedules[i].firstname %> <%= schedules[i].lastname %> </div>
                        <div class="timetable-item-time">Email<%= schedules[i].email %></div>
                        <div class="timetable-item-time">Start at <%=schedules[i].start_at %></div>
                        <div class="timetable-item-time">End at <%= schedules[i].end_at %></div> 
                        <div class="timetable-item-time">Introductory Class: Learning about Coffee Beans</div> 
                        <a href="#" class="btn btn-primary btn-book">Book</a>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

</body>
</html>