<%- include("../partials/header") %>

<div class="main-container">
  <div class="form-container">
    <h3 class="text-center mt-4">Add new schedule</h3>
    <% if(typeof errMsgs !== "undefined" ) { %> <% errMsgs.forEach(err=> { %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
        viewBox="0 0 16 16"
        role="img"
        aria-label="Warning:"
      >
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <div><%= err.msg %></div>
    </div>
    <% }) %> <% } %>
    <form action="/schedule" method="POST" class="mt-4 p-4">
      <div class="form-group mb-3">
        <label for="day" class="form-label">Day</label>
        <select
          type="text"
          name="day"
          class="form-control form-select text-uppercase"
        >
          <option value="">Select a day</option>
          <option value="1">mon</option>
          <option value="2">tue</option>
          <option value="3">wed</option>
          <option value="4">thur</option>
          <option value="5">fri</option>
          <option value="6">sat</option>
          <option value="7">sun</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="start_time" class="form-label">Start Time</label>
        <input type="time" name="start_time" class="form-control" />
      </div>
      <div class="form-group mb-3">
        <label for="end_time" class="form-label">End Time</label>
        <input type="time" name="end_time" class="form-control" />
      </div>
      <input type="submit" value="Add Schedule" class="btn btn-primary" />
    </form>
  </div>
</div>

  <div class="row row-cols-1 row-cols-md-2 g-4 p-5">
    <% schedules.forEach(schedule => { %>
    <div class="col">
      <div class="card p-3 m-3 text-secondary">
        <img
          src="/img/full_logo_dark.png"
          class="card-img-top coffee_logo"
          alt="mrcoffee logo"
        />
        <div class="card-body">
          <h5 class="card-title"><strong>Id:</strong> <%= schedule.user_id %> </h5>
          <h5 class="card-title"><strong>Username:</strong> <a href="/home/<%= schedule.user_id %>" class="text-info"><%= userEmail %></a></h5>
          <p class="card-text"><strong>Day:</strong> <%= schedule.day %></p>
          <p class="card-text">
            <strong>Time:</strong> <%= schedule.start_time %> - <%=
            schedule.end_time %>
          </p><button class="btn btn btn-danger" onclick="handleDelete(schedule.schedule_id)" >Delete</button>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
